neo4j==5.20.0
langdetect
sentencepiece
json-repair
accelerate
transformers>=5.12.1
google-genai
pdfplumber
pypdf
numpy
scikit-learn
sentence-transformers==3.0.1
requests
beautifulsoup4
langchain-community
langchain-openai
langchain-text-splitters
faiss-cpu
openai
playwright
fastapi
uvicorn[standard]
python-multipart
